.fileWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    max-width: 600px;
    width: 100%;
}

.name {
    display: block;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.errorMessage {
    display: block;
    font-size: 14px;
    color: #ff0000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.uploaded {
    color: #023373;
    font-size: 20px;
}

.errorIcon {
    color: #ff0000;
    font-size: 20px;
}
