.pageHeaderWrapper {
    width: 100%;
    background-color: #f3f3f3;
}

.innerHeaderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
    min-height: 120px;
}

.appName {
    font-weight: 700;
    font-size: 24px;
}