body {
    margin: 0;
    font-family: "Roboto Condensed",sans-serif;
    line-height: 1.7;
}

.uploaderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.appName {
    font-weight: 500;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 120px;
}

.uploadButton {
    font-size: 16px;
    font-family: "Roboto Condensed",sans-serif;
    background-color: #023373;
    border-radius: 8px;
    padding: 20px 15px;
    color: #ffffff;
}

.uploadButton:hover {
    background-color: #023373;
    color: #ffffff;
}

.spinner {
    color: #ffffff;
}

.ms-Button-flexContainer {
    min-width: 100px;
}
